---
import fetchAllProjects from "../helpers/fetchAllProjects";
import { siteConfig } from "../../site.config";
import RootLayout from "../layouts/RootLayout.astro";
import Card from "../components/Card.astro";
const myProjects = await fetchAllProjects();
---

<RootLayout title={siteConfig.title}>
  <img
    src="https://avatars.githubusercontent.com/u/54714492"
    class="h-20 w-20 rounded-full saturate-50 hover:saturate-100 transition duration-300"
  />
  <h1 class="text-4xl font-semibold my-6">Hey, I'm Bandit</h1>
  <p class="font-light">
    A digital alchemist weaving pixels and code into functional art.
  </p>

  <h2 class="head-section" id="projects">Projects</h2>
  <div class="grid grid-cols-1 gap-10">
    {
      myProjects.map((project) => (
        <Card
          title={project.projectName}
          description={project.description}
          slug={project.slug}
          image={project.cover}
        />
      ))
    }
  </div>

  <h2 class="head-section" id="projects">Works</h2>
  <div class="border p-4 rounded-md">
    <h3 class="text-lg font-light">PixelCraft</h3>
    <h3 class="text-md font-light">(2020 - Present)</h3>
    <p class="font-extralight mt-4">
      A leading digital design agency based in San Francisco, specializing in
      innovative UI/UX solutions for tech startups.
    </p>
  </div>
</RootLayout>
